
@{
    ViewBag.Title = "Basic";
}

<h2>Hello <span data-bind="text: name"></span></h2>

@section Scripts {
    @*ViewModel as a function (constructor)*@
    @*<script>
        function ViewModel() {
            this.name = 'Eric McQuiggan';
        };

        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);
    </script>*@

    @*ViewModel as a JavaScript variable*@
    <script>
        var viewModel = {
            name: 'Eric McQuiggan'
        };

        ko.applyBindings(viewModel);
    </script>
}
